<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div style="width:100%; height:auto;">
        <div id="top" style=" height:200px; float:left; width:100%">
            this is head --------this is head
        </div>
        <div id="left" style=" height:700px; float:left; width:15%; background-color:#2F4050; margin-right:30px;">
            @Html.Partial("_menu");
        </div>
        <div id="right" style=" height:auto; float:left; width:80%">
            @RenderBody()
        </div>
        <div id="bootom" style=" height:200px; float:left; width:100%">
            bootom
        </div>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
